@media screen and (max-width: 1024px) {

    .nav ul{
        font-size: 1.3rem;
        padding: 0;
        gap: 0;
    }
    .nav-list a{
        padding-right: 15px;
    }

    #home{
        height: 500px;
    }
    #home h1{
        font-size: 2.1rem;
    }
    .group_info{
        margin-bottom: 20rem;
    }

    .about_content .about_img{
        width: 30%;
        object-fit: cover;
    }
    .about_description{
        padding-right: -0;
        font-size: 1.4rem;
    }

    .button_icon{
        font-size: 1.9rem;
    }

    .about_data{
        margin: 16px;
    }

    .call_to__action{
        width: 80%;
    }

    .button--flex {
        font-size: 1.6rem;
        padding: 0.6rem 4rem;
    }

    .skills{
        margin-top: 1rem;
    }
    .skills_box{
        padding-left: 2.5rem;
    }
    .skills_data i{
        padding: 0.9rem;
    }
    .skills_group{
        align-items: center;
        padding-left: 1.5rem;
        gap: 2rem;
    }
    .section_title{
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    .skills_content{
        padding: 0;
    }
    .skills_data i{
        font-size: 3rem;
    }
    /* INICIO CONTACT */
    .btn_send{
        font-size: 1.2rem;
        margin-right: 4rem;
    }
    /* FIM CONTACT */

}

@media screen and (max-width: 768px) {

    .nav ul{
        font-size: 1.3rem;
        padding: 0;
        gap: 0;
    }
    .nav-list a{
        padding-right: 15px;
    }

    #home{
        padding-top: 5rem;
        height: 130vh;
    }
    #home h1{
        font-size: 2.1rem;
    }
    .group_info{
        margin-bottom: 15rem;
    }

    .about_data{
        margin: 22px;
    }

    .call_to__action{
        width: 80%;
    }

    .button--flex {
        font-size: 1.5rem;
        padding: 0.6rem 4rem;
    }

    .about_content .about_img{
        width: 40%;
        object-fit: cover;
    }
    .about_description{
        padding-right: -0;
        font-size: 1.4rem;
    }

    .button_icon{
        font-size: 1.9rem;
    }

    .skills{
        margin-top: 1rem;
    }
    .skills_box{
        padding-left: 2.5rem;
    }
    .skills_data i{
        padding: 0.9rem;
    }
    .skills_group{
        align-items: center;
        padding-left: 1.5rem;
        gap: 2rem;
    }
    .section_title{
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    .skills_content{
        padding: 0;
    }
    .skills_data i{
        font-size: 3rem;
    }

    /* INICIO CONTACT */
    .form_container{
        align-items: baseline;
    }
    .btn_send{
        font-size: 1.2rem;
        padding: 0.5rem 5.5rem;
        margin-left: 16.5rem;
    }
    /* FIM CONTACT */

}

@media screen and (max-width: 425px){
    .nav ul{
        font-size: 1.3rem;
        padding: 0;
        gap: 0;
    }
    .nav-list a{
        padding-right: 15px;
    }

    #home{
        height: 130vh;
    }
    #home h1{
        font-size: 2.1rem;
    }
    .group_info{
        margin-bottom: 20rem;
    }

    .about_data{
        margin: 16px;
    }

    .call_to__action{
        width: 80%;
    }

    .button--flex {
        font-size: 1.1rem;
        padding: 0.6rem 2.3rem;
    }

    .about_content .about_img{
        width: 70%;
    }
    .about_description{
        padding-right: -0;
        font-size: 1.0rem;
    }

    .button_icon{
        font-size: 1.3rem;
    }

    .skills{
        margin-top: 1rem;
    }
    .skills_box{
        padding-left: 2.5rem;
    }
    .skills_data i{
        padding: 0.9rem;
    }
    .skills_group{
        align-items: center;
        padding-left: 1.5rem;
        gap: 2rem;
    }
    .section_title{
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    .skills_content{
        padding: 0;
    }
    .skills_data i{
        font-size: 3rem;
    }

    /* INICIO CONTACT */
    .form_container{
        align-items: baseline;
    }
    .btn_send{
        font-size: 1.2rem;
        padding: 0.5rem 5.5rem;
        margin-left: 6rem;
    }
    /* FIM CONTACT */

}

@media screen and (max-width: 375px) {
    .nav ul{
        font-size: 1.1rem;
        padding: 0;
        gap: 0;
    }
    .nav-list a{
        padding-right: 15px;
    }

    #home{
        height: 120vh;
    }
    #home h1{
        font-size: 2.1rem;
    }
    .group_info{
        margin-bottom: 20rem;
    }

    .about_data{
        margin: 16px;
    }

    .call_to__action{
        width: 80%;
    }

    .button--flex {
        font-size: 1.2rem;
        padding: 0.7rem;
    }

    .about_content .about_img{
        width: 70%;
    }
    .about_description{
        padding-right: -0;
        font-size: 1.2rem;
    }
    .button_icon{
        font-size: 1.3rem;
    }

    .skills{
        margin-top: 1rem;
    }
    .skills_box{
        padding-left: 1.5rem;
    }
    .skills_data i{
        padding: 0.9rem;
    }
    .skills_group{
        align-items: center;
        padding-left: 1.5rem;
        gap: 2rem;
    }
    .section_title{
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    .skills_content{
        padding: 0;
    }
    .skills_data i{
        font-size: 3rem;
    }
    /* INICIO CONTACT */
    .form_container{
        align-items: baseline;
    }
    .btn_send{
        font-size: 1.2rem;
        padding: 0.5rem 5.5rem;
        margin-left: 4.5rem;
    }
    /* FIM CONTACT */

}

@media screen and (max-width: 320px) {
    /* INICIO NAVIGATION */
    .nav ul{
        font-size: 0.9rem;
        padding: 0;
        gap: 0;
    }
    .nav-list a{
        padding-right: 12px;
    }
    /* FIM NAVIGATION */

    /* INICIO HOME */
    #home{
        height: 120vh;
    }
    #home h1{
        font-size: 2.1rem;
    }

    .group_info{
        margin-bottom: 15rem;
    }

    .call_to__action{
        width: 80%;
    }
    /* FIM HOME */

    /* INICIO ABOUT */
    .about_content{
        margin: 16px;
    }
    .button--flex {
        font-size: 1.0rem;
        padding: 0.5rem;
    }

    .about_content .about_img{
        width: 70%;
    }
    .about_description{
        padding-right: -0;
        font-size: 1.0rem;
    }
    .button_icon{
        font-size: 1.3rem;
    }
    /* FIM ABOUT */

    /* INICIO SKILLS */
    .skills{
        margin-top: 1rem;
    }
    .skills_box{
        padding-left: 3rem;
    }
    .section_title{
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    .skills_content{
        padding: 0;
    }
    .skills_data i{
        font-size: 3rem;
    }
    /* FIM SKILLS */

    /* INICIO CONTACT */
    .form_container{
        align-items: baseline;
    }
    .btn_send{
        font-size: 1.2rem;
        padding: 0.5rem 5.5rem;
        margin-left: 3rem;
    }
    /* FIM CONTACT */
}